<ion-header [translucent]="true">
  <ion-toolbar class="barra">
    <ion-title>Bienvenido: {{ nombre }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="leerQr()" ><ion-icon slot="icon-only" name="qr-code"></ion-icon></ion-button>
      <ion-button (click)="perfil()" ><ion-icon slot="icon-only" name="person-outline"></ion-icon></ion-button>
      <ion-button (click)="cerrar()"><ion-icon slot="icon-only" name="exit-outline"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"  class="fondo">
  <ion-button expand="block"  shape="round" (click)="asistencia()" class="boton btn">Asistencia </ion-button>

  <div class="img-container titulo"><h3>SEDES DUOC</h3></div>
  <ion-card *ngFor="let sede of lista_sedes">
    <img [src]="sede.imagen" />
    <ion-card-header>
      <ion-card-title> {{ sede.nombre }} </ion-card-title>
      <ion-label> {{ sede.nombre }} </ion-label>
      <ion-label> {{ sede.direccion }} </ion-label>
      <ion-label> {{ sede.telefono }} </ion-label>
      <ion-label> {{ sede.horario }} </ion-label>
    </ion-card-header>
  </ion-card>

</ion-content>
