
/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";
/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.system.css";

.barra {
    --background: #15464e;
    --color: #ffffff;
}

.fondo {
  --background: linear-gradient(180deg, rgba(221,221,221,1) 25%, rgba(134,134,148,1) 55%);
}

.boton {
    --background: #235347;
    --color: #FFFFFF;
    margin-top: 10px;
    height: 56px;
}

.input {
    --background: #FFFFFF;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 5px;
    margin-top: 5px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.item-warning {
    --background: #ff8800;
    --color: #FFFFFF;
    margin-top: 10px;
    border-radius: 5px;
}

.bold {
  text-decoration: underline;
  color: #444E50;
  text-align: right;  
  display: block;  
}

.bold:hover {
  color: rgb(255, 255, 255);
  cursor: pointer;
}

p {
  color: rgb(0, 0, 0);
}
.border {
    border: 3px solid rgb(255, 0, 0);
    width: 90%;
  }
.titulo{
  font-size: 22px;
  font-weight: bold;
  color: black;
}

label{
  font-weight: bold;
  color: black;
}
.img-container {
    text-align: center;
  }

.img-container img {
    border-radius: 15px; /* Ajusta el radio de los bordes redondeados */
    max-width: 100%; /* Ajusta la imagen para que no se desborde del contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
}

  